{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "debug": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}