{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "debug": false
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}